/** Button */
QPushButton {
    border: 1px solid $color-primary;
    border-radius: 3px;
    background-color: transparent;
    color: $color-primary;
    padding: 4px;
}

QPushButton:hover {
    border-color: darken($color-primary, 5%);
    background-color: $color-primary-dark;
    color: $text-color-hover;
}

QPushButton:pressed {
    border-color: darken($color-primary, 5%);
    background-color: darken( $color-primary-dark, 5%);
    color: $text-color-pressed;
}

QPushButton:disabled {
    color: darken($color-primary, 50%);
    border-color: darken($color-primary, 50%);
}

QPushButton:checked {
    color: $color-primary;
    background-color: $color-primary-dark;
    font-weight: bold;
}

QPushButton[borderless='true'] {
    border:none;
}
QPushButton[filled='true'] {
    border: none;
    font-weight: bold;
    color: $background;
    background: $color-primary;
}
QPushButton[filled='true']:pressed {
    background-color: darken( $color-primary-dark, 5%);
}
