/** Combo Box. */

QComboBox {
    border: 1px solid $border-color;
    border-radius: 2px;
    padding: $input-padding;
    padding-left: 10px;
    color: $text-color;
    text-align: center;
    combobox-popup: 0;
}

QComboBox::drop-down {
    subcontrol-origin: padding;
    subcontrol-position: top right;
    border: none; /* Removes border around the drop-down button */
}

QComboBox::down-arrow {
    image: url(':ftrack/image/material-design-icons/filled/keyboard_arrow_down');
    width: 32px; /* Set the width of the arrow image */
    height: 32px; /* Set the height of the arrow image */
}

QComboBox QAbstractItemView {
    selection-background-color: $color-primary; /* Background color of selected item */
    selection-color: $background; /* Text color of selected item */
}

