/** Form elements */
QLabel {
    color: $text-color;
    /*background-color: transparent;*/
    border: none;
}

QTextEdit, QLineEdit  {
    border: 1px solid $border-color;
    border-radius: 2px;
    padding: $input-padding;
    background: $input-background;
    selection-background-color: $background-selected;
    color: $text-color;

    &:hover {
        border-color: lighten($border-color, 5%);
    }

    &:disabled {
        border-color: darken($border-color, 10%);
        /*color: $gray;*/
    }

    &:focus {
        border-color: lighten($border-color, 5%);
    }
}

QTextEdit[input="invalid"], QLineEdit[input="invalid"] {
    border: 1px solid darken(red, 50%);
}

NewAssetNameInput QLineEdit, NewAssetInput[status='focused'] QLineEdit, NewAssetInput[status='unfocused'] QLineEdit {
    border: 1px solid $border-color !important;
}

NewAssetInput[status='unfocused'] QLabel {
    color: $gray;
}

QCheckBox {
    color: $text-color;
    border: none;
}

QCheckBox::indicator {
    image: theme-image('checkbox_unchecked');
}

QCheckBox::indicator:disabled {
    image: theme-image('checkbox_unchecked_disabled');
}

QCheckBox::indicator:checked {
    image: theme-image('checkbox_checked');
}

QCheckBox::indicator:checked:disabled {
    image: theme-image('checkbox_checked_disabled');
}

AssetVersion/** Form elements */
QLabel {
    color: $text-color;
    /*background-color: transparent;*/
    border: none;
}

TitleLabel {
    background: #1F252B;
}

WarningLabel {
    color: #FFBA5C;
    font-style: italic;
}
