QFrame[background='transparent'], QDialog[background='transparent'] {
    background: transparent;
}

QFrame[background='ftrack'], QDialog[background='ftrack'] {
    background: $background;
}

QFrame[background='ftrack-modal'], QDialog[background='ftrack-modal'] {
    background: $background-modal;
}

QFrame[background='default'], QDialog[background='default'] {
    background: $background-docked;
}

QFrame[background='maya'], QDialog[background='maya'] {
    background: rgb(66,66,66);
}

QFrame[background='nuke'], QDialog[background='nuke'] {
    background: rgb(50,50,50);
}

QFrame[background='houdini'], QDialog[background='houdini'] {
    background: rgb(66,66,66);
}

QtAssetManagerClientWidget[assembler='true'] {
    background-color: #1A2027;
}

QFrame[indicator='green'] {
    background: #79DFB6;
}

QFrame[indicator='blue'] {
    background: #0C8ADF;
}

QFrame[indicator='orange'] {
    background: #FFBA5C;
}

QFrame[indicator='red'] {
    background: #FF5C5C;
}

QFrame[indicator='grey'] {
    background: #404040;
}

QFrame[background='selected'] {
    background: $background-selected;
}

QFrame[background='transparent'] {
    background: transparent;
}

/* Overlay */
QFrame#overlay {
    background-color: $alt-background;
}

QFrame#overlay QLabel {
    background-color: transparent;
}

/* Lines */
LineWidget {
    border: 1px dashed $border-color;
}

LineWidget[style='solid']  {
    border: 1px solid rgba(255, 255, 255, 0.05);
}

/* Asset selector */
NewAssetInput[status='focused'] {
    background: $background-selected !important;
}

/* Accordion */
AccordionBaseWidget {
    border-top: 1px dashed $border-color;
}

AccordionBaseWidget[first='true'] {
}

/* Entity browser */
NavigationEntityButton {
    background: #1F252B;
    border-radius: 12px;
    border: none;
    color: $text-color;
    padding-left: 5px;
    padding-right: 5px;
    font-weight: bold;
}

NavigationEntityButton[first='true'] {
    background: transparent;
    border-radius: 12px;
    border: 1px solid $border-color;
}

NavigationEntityButton:hover, EntityWidget:hover, AccordionBaseWidget:hover {
    background: $background-selected;
}

EntityWidget {
    color: $text-color;
    border-bottom: 1px dashed $border-color;
    border-right: 1px dashed $border-color;
}

EntityWidget[background='selected'] {
    background: $background-selected;
}

TypeWidget {
    border: 1px solid $gray-darker;
    border-radius: 12px;
}

SearchBox[collapsed='false'] {
    border: 1px solid #555555;
    border-radius: 16px;
}

SearchBox[collapsed='true'] {
    border:none;
}

