/* Label */
QLabel {
    color: $text-color;
    border: none;
}

/* Titles */
QLabel[h1='true'] {
    color: $text-color-light;
    font-weight: bold;
    font-size: 20px;
}

QLabel[h2='true'] {
    color: $text-color-light;
    font-weight: bold;
    font-size: 14px;
}

QLabel[h3='true'] {
    color: $text-color-light;
    font-weight: bold;
    font-size: larger;
}

/* Overrides */
QLabel[secondary='true'] {
    color: $gray;
}

QLabel[inactive='true'] {
    color: $gray-dark;
}

QLabel[secondary_inactive='true'] {
    color: $gray-darker;
}

QLabel[highlighted='true'] {
    color: $color-primary;
}
