/* Line edit */
QLineEdit {
    border: 1px solid $border-color;
    padding: $input-padding;
    color: $text-color;
}

QLineEdit:focus {
    border: 1px solid $color-primary;
}

QLineEdit[label='true']:read-only {
    border: none;
    background: transparent;
}