/* Scroll bar */
QScrollBar {
    border: 0;
    border-radius: 4px;
    background: transparent;
    margin: 2px;
    min-width: 2px;
    min-height: 2px;
}
QScrollBar::handle {
    border: 0;
    border-radius: 4px;
    background: $scrollbar-handle;
    margin: 2px;
    min-width: 2px;
    min-height: 2px;
}
