/** Table */
QTableWidget {
    gridline-color: $alt-background;
}

QTableView {
    gridline-color: $alt-background;
    border: 1px solid $gray-dark;
    outline: 0;
    background: $background;
}

QTableView::section
{
    border: none;
}

QTableView::item
{
    border: none;
    padding: 5px;
    background: $background;
    color: $text-color;
}

QTableView::item:selected
{
    background: $background-selected;
}

QHeaderView {
    color: $text-color;
    background-color: $alt-background;
    border: none;
}

QHeaderView::section {
    border-style: none;
    border-right: 1px solid alt-background;
    background-color: $background;
}
