# Ignore Python compiled files
*.py[cod]

# Ignore Python packaging artifacts
*.egg
*.egg-info
*.eggs/*
*.eggs
dist
eggs
parts
bin
var
sdist
develop-eggs
.installed.cfg
#lib
lib64
__pycache__

# Ignore pip installer logs
pip-log.txt

# Ignore unit test/coverage reports
.coverage
.tox
test-reports/*

# Ignore build files (e.g. CSS resources)
/resource/*.css

# Ignore cache files
.sass-cache/
Thumbs.db

# Ignore IDE/Editor specific files and directories
.project
.pydevproject
.settings
.idea/
*.orig

# Ignore version control system files
.DS_Store

# Ignore Pants build files (Pants is a build system)
/.pants.*
/dist/
/.pids

# Ignore environment files
.env

# Ignore VS Code configuration files
.vscode/launch.json
.vscode/settings.json

# Ignore specific resource files
#**/ftrack_qt_style/resource.py
libs/resource

# Ignore no_push_* folder contents
no_push_*/*