/** Combo Box. */

QComboBox {
    border: 1px solid $color-purple;
    border-radius: 4px;
    padding: $input-padding;
    background: $input-background;
    selection-background-color: $gray-dark;
    color: $color-purple;

    &:hover {
        border-color: darken($color-purple, 5%);
    }

    &:focus {
        border: 1px solid $input-border-color-focus;
    }
}


QComboBox::down-arrow {
    image: theme-image('combobox_down_arrow');
    width: 8px;
    height: 8px;
}

QComboBox::drop-down {
    subcontrol-origin: padding;
    subcontrol-position: top right;
    width: 8px;
    padding: $input-padding;
    border: 0;
}

QComboBox QAbstractItemView {
    color: $text-color;
    outline: 0;
    /*border: 1px solid $input-border-color;*/
    border-radius: 2px;
    selection-background-color: $gray-lighter;
}

QComboBox QAbstractItemView::item {
    padding: $input-padding 0;
    background-color: $gray-dark;
}

QComboBox QAbstractItemView::item:selected {
    background-color: $gray-lighter;
    color: $text-color;
}

QComboBox[ftrackCurrentIndexIsDefault="true"] {
    color: $text-color-light;
}

AssetVersionSelector, VersionComboBox {
    border: 1px solid $color-purple;
    border-radius: 4px;
    color: $color-purple;

    &:hover {
        border-color: darken($color-purple, 5%);
    }

    &:focus {
        border: 1px solid $input-border-color-focus;
    }
}



DefinitionSelector, ModeSelector {
    border: 1px solid $gray-dark;
    border-radius: 11px;
    padding-left: 5px;
    background: $input-background;
    selection-background-color: $gray-dark;
    color: $text-color;
    text-align: center;

    &:hover {
        border-color: darken($gray-dark, 5%);
    }

    &:focus {
        border: 1px solid $input-border-color-focus;
    }
}

DefinitionSelector::down-arrow, ModeSelector::down-arrow {
    image: theme-image('combobox_down_arrow_disabled');
    width: 8px;
    height: 8px;
}

AssetVersionStatusWidget {
    border-radius: 11px;
}