/** Form elements */
QLabel {
    color: $text-color;
    /*background-color: transparent;*/
    border: none;
}

QTextEdit, QLineEdit  {
    border: 1px solid $gray-dark;
    border-radius: 2px;
    padding: $input-padding;
    background: $input-background;
    selection-background-color: $gray-dark;
    color: $text-color;

    &:hover {
        border-color: lighten($gray-dark, 5%);
    }

    &:disabled {
        border-color: darken($gray-dark, 10%);
        color: $gray;
    }

    &:focus {
        border: 1px solid #33313F;
    }
}

QTextEdit[input="invalid"], QLineEdit[input="invalid"] {
    border: 1px solid darken(red, 50%);
}

NewAssetInput[status='focused'] QLineEdit {
    border: 1px solid $gray-dark;
}

NewAssetInput[status='unfocused'] QLineEdit {
    border: none;
    color: $gray;
}

NewAssetInput[status='unfocused'] QLabel {
    color: $gray;
}

NewAssetInput QLineEdit {
    border: 1px solid $gray-dark;
}

QCheckBox::indicator {
    image: theme-image('checkbox_unchecked');
}

QCheckBox::indicator:disabled {
    image: theme-image('checkbox_unchecked_disabled');
}

QCheckBox::indicator:checked {
    image: theme-image('checkbox_checked');
}

QCheckBox::indicator:checked:disabled {
    image: theme-image('checkbox_checked_disabled');
}

AssetVersion/** Form elements */
QLabel {
    color: $text-color;
    /*background-color: transparent;*/
    border: none;
}

TitleLabel {
    background: #1F252B;
}

WarningLabel {
    color: #707040;
    font-style: italic;
}
