QFrame[background='transparent'] {
    background: transparent;
}

QFrame[background='houdini'] {
    background: rgb(55,55,55);
}

Line {
    border: 1px dashed $border-color;
}

NewAssetInput[status='focused'] {
    border: 1px dashed $color-purple;
}

NewAssetInput[status=''] {
    border: 1px dashed transparent;
}

#bordered, AccordionBaseWidget {
    border: 1px dashed $border-color;
}

QFrame[indicator='on'] {
    background: '#79DFB6';
}

QFrame[indicator='off'] {
    background: '#404040';
}

QFrame[background='selected'] {
    background: '#444444';
}

QFrame[background='transparent'] {
    background: transparent;
}

AssetVersionStatusWidget {
    border-radius: 8px;
}

