QFrame[background='transparent'] {
    background: transparent;
}

QFrame[background='houdini'] {
    background: rgb(55,55,55);
}

Line {
    border: 1px dashed $border-color;
}

NewAssetInput[status='focused'] {
    border: 1px dashed $color-purple;
}

NewAssetInput[status=''] {
    border: 1px dashed transparent;
}

#bordered, AccordionBaseWidget {
    border: 1px dashed $border-color;
}

