QFrame[background='transparent'], QDialog[background='transparent'] {
    background: transparent;
}

QFrame[background='ftrack'], QDialog[background='ftrack'] {
    background: rgb(20,25,32);
}

QFrame[background='default'], QDialog[background='default'] {
    background: rgb(55,55,55);
}

QFrame[background='maya'], QDialog[background='maya'] {
    background: rgb(66,66,66);
}

QFrame[background='nuke'], QDialog[background='nuke'] {
    background: rgb(50,50,50);
}

QFrame[background='houdini'], QDialog[background='houdini'] {
    background: rgb(55,55,55);
}


Line {
    border: 1px dashed $border-color;
}

NewAssetInput[status='focused'] {
    border: 1px dashed $color-purple;
}

NewAssetInput[status=''] {
    border: 1px dashed transparent;
}

#bordered, AccordionBaseWidget {
    border: 1px dashed $border-color;
}

QFrame[indicator='on'] {
    background: '#79DFB6';
}

QFrame[indicator='off'] {
    background: '#404040';
}

QFrame[background='selected'] {
    background: '#1C2229';
}

QFrame[background='transparent'] {
    background: transparent;
}


