/** GroupBox */
QGroupBox {
    border: 1px solid black;
    background-color: transparent;
    padding: 4 px;
    margin: 10 px;
}

QGroupBox::title {
    background-color: transparent;
    color: $text-color;
    margin-top:  -14 em;
    margin-left:  10 em;
}
