
Header {
    background-color: darken($white-almost, 5%);
    border: 0px;
}

ContextSelector {
    border: 3px solid darken($white-almost, 5%);
}

WorkflowSelector {
    border: 3px solid darken($white-almost, 5%);
}

