/** List */
QListWidget {
    border: 1px solid $border-color;
    outline: 0;
    background: transparent;
}
QListWidget::item
{
    background: transparent;
    padding: 2px;
    color: $gray;
}
QListWidget::item QLabel
{
    background: transparent;
}

QListWidget::item:selected
{
   background: $background-selected;
   color: $text-color;
}

AssetList {
    border: none;
    outline: 0;
    background: transparent;
}
