/** List */
QListWidget {
    border: 1px solid $gray-dark;
    outline: 0;
    background: transparent;
}
QListWidget::item
{
    background: transparent;
    padding: 2px;
    color: $gray;
}
QListWidget::item QLabel
{
    background: transparent;
}

QListWidget::item:selected
{
   background: $gray-lighter;
   color: $text-color;
   border: 1px dashed $color-purple;
}

QFrame[docked='true'] QListWidget::item:selected {
    color: rgb(77, 77, 77);
}

AssetList {
    border: none;
    outline: 0;
    background: transparent;
}

AssetList::item:selected
{
    background: transparent;
}