QMenuBar {
    background: $white;
}

QMenu {
    background: $gray-dark;
}

QMenu::item {
    background: $gray-dark;
    border: 0px;
    padding: 7px;
    color: $text-color;
}

QMenu::item:selected:enabled {
    background: darken($gray-dark, 5%);
}

QMenu::item:pressed:enabled {
    background: darken($gray-dark, 10%);
}

QMenu::item:unchecked {
    margin-left: -10px;
}