/** Scroll bar */
QScrollBar:vertical {               
    border: 0;
    background: transparent;
    width: 12px;    
    margin: 0;
}

QScrollBar::handle:vertical, QScrollBar::handle:horizontal {
    border: 0;
    border-radius: 4px;
    background: #656a6d;
    margin: 2px;
}

QScrollBar::left-arrow, QScrollBar::right-arrow,QScrollBar::down-arrow, QScrollBar::up-arrow {
    width: 0px;
    height: 0px;
    border: none;
}

QScrollBar::add-line {
    border: 0;
    height: 0;
    background: $white;
    subcontrol-position: bottom;
    subcontrol-origin: margin;
}

QScrollBar::sub-line {
    border: 0;
    height: 0;
    background: $white;
    subcontrol-position: top;
    subcontrol-origin: margin;
}
