/** Tab bar. */

QTabWidget {
    padding: 0px;
    border: none;
    margin: -10px -10px -10px -10px;
}

QTabWidget::pane {
    padding: 0px;
    margin: -2px -2px -2px -2px;
    border: none;
}

QTabWidget::tab-bar {
    left: 0px;
    background-color: red;
}

QTabBar {
    border-bottom: 2px solid $gray-darker;
    padding: 0px;
    margin: 0px;
}

QTabBar::tab {
    min-width: 120px;
    padding: 8px 10px 9px 10px;
    color: $gray;
    border-bottom: none;
    font-size: 12px;
}

QTabBar::tab:selected {
    color: $text-color;
    border-bottom: 2px solid $color-primary;
}

QTabBar::tab:hover {
    color: $text-color;
}

QTabBar::tab:focus {
}

AssemblerTabWidget QTabBar::tab {
    min-width: 170px;
    font-size: 14px;
    vertical-align: text-top;
}