/** Application window
QMainWindow#ftrack-connect-window {
    background: $white;
}

QLabel#login-label {
    font-size: 22px;
}

QLabel#regular-label {
    font-size: 15px;
    font-weight: light;
}*/

* {
    font-family: $font-family-base;
    font-size: 11px;
}

QLabel#lead-label {
    font-size: 13px;
    color: $text-color-drop-zone;
    font-weight: light;
}

QPixmap{
    image: theme-image('ftrackLogoLabelDark');
}

QScrollArea {
    border: none;
    background-color: transparent;
}

QScrollArea QWidget {
    background-color: transparent;
}

QMessageBox {
    background-color: $gray-darker;
}

/* Shared styles */

#h1 {
    color: $color-white;
    font-weight: bold;
    font-size: 20px;
}

#h2 {
    color: $color-white;
    font-weight: bold;
    font-size: 14px;
}

#h3 {
    color: $color-white;
    font-weight: bold;
    font-size: larger;
}

#h4 {
    color: $color-white;
    font-weight: bold;
}

/*#h4 {
    color: #444444;
    font-size: 9px;
}*/

#gray {
    color: $gray;
}

#gray-darker {
    color: $gray-darker;
}

#purple {
    color: $color-purple;
}

#borderless {
    border: none;
}

#titlebar {
    background: #1f252b;
}

