// Grays
$gray-darker:           lighten(#000, 13.5%); // #222
$gray-dark:             lighten(#000, 20%);   // #333
$gray:                  lighten(#000, 33.5%); // #555
$gray-light:            lighten(#000, 60%);   // #999
$gray-lighter:          lighten(#000, 93.5%); // #eee
$background:            #fafafa;
$background-modal:      #ffffff;
$background-docked:     rgb(55,55,55);
$alt-background:        #f8f8f8;
$alt-background-docked: rgb(44,44,44);
$background-selected:   $gray-lighter;
$background-selected-combo:   #dddddd;
$white:                 white;

// Primary brand colors
$color-primary: #FFDD86;
$color-primary-dark: #3D3520;

$color-green: #1CBC90;
$color-blue: #3498DB;
$color-orange: #E67E22;
$color-red: #E74C3C;
$color-white: white;
$color-cyan: #86E0EA;

$brand-primary:         $color-primary;
$brand-success:         $color-green;
$brand-info:            $color-blue;
$brand-warning:         $color-primary;
$brand-danger:          $color-red;

$text-color:                    $gray-dark;
$text-color-inactive:           $gray-darker;
$text-color-active:             lighten($text-color, 5%);
$text-color-hover:              $text-color-active;
$text-color-pressed:            $text-color-active;
$text-color-light:              $gray;
$text-color-primary:            #548CD7;
$text-color-drop-zone:          $gray-light;
$border-color:                  $gray-lighter;

$input-border-color:    $gray-light;

$scrollbar-handle:          $gray;
$scrollbar-handle-docked:   $gray;
