/** Return path to image *filename* relative to theme directory. */
/** Dialog */
QDialog {
  background-color: #FFFFFF; }

QFrame[ftrackDropZone] {
  border-radius: 2px;
  border-width: 2px;
  border-style: dotted;
  border-color: rgba(19, 25, 32, 0.1); }
  QFrame[ftrackDropZone] > QLabel {
    color: rgba(19, 25, 32, 0.38); }

QFrame[ftrackDropZoneState='active'] {
  border-color: #00AD62; }

QFrame[ftrackDropZoneState='invalid'] {
  border-color: red; }

/** Form elements */
QLabel {
  color: rgba(19, 25, 32, 0.6); }

QLabel[title] {
  font-weight: bold; }

QComboBox {
  border: 1px solid rgba(19, 25, 32, 0.1);
  border-radius: 2px;
  padding: 4px;
  background: #FFFFFF;
  selection-background-color: rgba(180, 180, 180, 0.8);
  color: rgba(19, 25, 32, 0.87); }
  QComboBox:hover {
    border-color: rgba(19, 25, 32, 0.1); }
  QComboBox:focus {
    border: 1px solid rgba(19, 25, 32, 0.1); }

QTextEdit, QLineEdit {
  border: 1px solid rgba(19, 25, 32, 0.1);
  border-radius: 2px;
  padding: 4px;
  background: #FFFFFF;
  selection-background-color: rgba(180, 180, 180, 0.8);
  color: rgba(19, 25, 32, 0.87); }
  QTextEdit:hover, QLineEdit:hover {
    border-color: rgba(19, 25, 32, 0.1); }
  QTextEdit:focus, QLineEdit:focus {
    border: 1px solid rgba(19, 25, 32, 0.1); }

/** Combo Box. */
QComboBox::drop-down {
  subcontrol-origin: padding;
  subcontrol-position: top right;
  width: 8px;
  padding: 4px;
  border: 0; }

QComboBox::down-arrow {
  image: url(":/ftrack/image/light/downArrow");
  width: 8px;
  height: 8px;
  margin-right: 4px; }

QComboBox QAbstractItemView {
  background: #FFFFFF;
  color: rgba(19, 25, 32, 0.87);
  outline: 0;
  border: 1px solid rgba(19, 25, 32, 0.1);
  border-radius: 2px; }

QComboBox QAbstractItemView::item {
  padding: 4px 0; }

QComboBox QAbstractItemView::item:selected {
  background-color: rgba(180, 180, 180, 0.8);
  color: rgba(19, 25, 32, 0.87); }

QComboBox[ftrackCurrentIndexIsDefault="true"] {
  color: rgba(19, 25, 32, 0.87); }

/** Button */
QPushButton {
  border: 1px solid rgba(19, 25, 32, 0.1);
  border-radius: 2px;
  color: rgba(19, 25, 32, 0.87);
  padding: 4px;
  min-width: 80px; }

QPushButton:hover {
  border-color: rgba(19, 25, 32, 0.1);
  background-color: #FFFFFF;
  color: rgba(19, 25, 32, 0.87); }

QPushButton:pressed {
  border-color: rgba(19, 25, 32, 0.1);
  background-color: #FFFFFF;
  color: rgba(19, 25, 32, 0.87); }

QPushButton:disabled {
  border-color: rgba(19, 25, 32, 0.1);
  background-color: #FFFFFF;
  color: rgba(19, 25, 32, 0.87); }

QPushButton#primary {
  color: #131920;
  background-color: #FFCD45;
  border-color: #FFCD45; }

QPushButton#primary:hover {
  color: #131920;
  background-color: #f3c443;
  border-color: #f3c443; }

QPushButton#primary:pressed {
  color: #131920;
  background-color: #f3c443;
  border-color: #f3c443; }

/** Flat button */
QPushButton[flat="true"]:pressed {
  background: none;
  border: 1px solid rgba(19, 25, 32, 0.1); }

/** Toolbuttons */
QToolButton {
  border: 1px solid rgba(19, 25, 32, 0.1);
  border-radius: 2px;
  background-color: #FFFFFF;
  color: rgba(19, 25, 32, 0.87); }

QToolButton:hover {
  border-color: rgba(19, 25, 32, 0.1);
  background-color: rgba(180, 180, 180, 0.8);
  color: rgba(19, 25, 32, 0.87); }

QToolButton:pressed {
  border-color: rgba(19, 25, 32, 0.1);
  background-color: rgba(180, 180, 180, 0.8);
  color: rgba(19, 25, 32, 0.87); }

/** Tab bar. */
QTabWidget::pane {
  border-top: 0px solid rgba(19, 25, 32, 0.1);
  background: #F8F8F9; }

QTabWidget::tab-bar {
  background: #F8F8F9; }

QTabBar {
  background: #F8F8F9; }

QTabBar::tab {
  background: #F8F8F9;
  min-width: 60px;
  padding: 8px 10px;
  color: rgba(19, 25, 32, 0.6);
  border-bottom: 3px solid rgba(19, 25, 32, 0.1); }

QTabBar#application-tab-bar::tab:selected {
  background-position: bottom center;
  background-repeat: none;
  color: rgba(19, 25, 32, 0.87);
  border-bottom: 3px solid #FFCD45; }

/** Table */
QTableView {
  border: 1px solid rgba(19, 25, 32, 0.1);
  outline: 0;
  background: #F8F8F9; }

QTableView::item {
  border: 0px;
  padding: 5px;
  background: #F8F8F9;
  color: rgba(19, 25, 32, 0.87); }

QTableView::item:selected {
  background: #ededee; }

QHeaderView {
  background-color: #F8F8F9; }

QMenuBar {
  background: #FFFFFF; }

QMenu {
  background: #FFFFFF; }

QMenu::item {
  background: #FFFFFF;
  border: 0px;
  padding: 5px;
  color: rgba(19, 25, 32, 0.87); }

QMenu::item:selected:enabled {
  background: rgba(180, 180, 180, 0.8); }

QMenu::item:pressed:enabled {
  background: rgba(180, 180, 180, 0.8); }

QMenu::item:unchecked {
  margin-left: -10px; }

/** Scroll bar */
QScrollBar:vertical {
  border: 0;
  background: #F8F8F9;
  width: 12px;
  margin: 0; }

QScrollBar::handle:vertical {
  border: 0;
  border-radius: 4px;
  background: rgba(19, 25, 32, 0.38);
  margin: 2px; }

QScrollBar::add-line:vertical {
  border: 0;
  height: 0;
  background: rgba(19, 25, 32, 0.1);
  subcontrol-position: bottom;
  subcontrol-origin: margin; }

QScrollBar::sub-line:vertical {
  border: 0;
  height: 0;
  background: rgba(19, 25, 32, 0.1);
  subcontrol-position: top;
  subcontrol-origin: margin; }

ScrollingFlowWidget > QScrollArea,
ScrollingFlowWidget > QScrollArea QWidget {
  background-color: transparent;
  border: none; }

QFrame#publisher-componentlist {
  border: 0; }

QFrame#publisher-componentlist QTableWidget {
  background-color: transparent;
  border: 0; }

QFrame#publisher-componentlist QTableWidget::item {
  background-color: transparent;
  border: 0;
  padding: 0; }

QFrame#ftrack-connect-thumbnail-drop-zone {
  padding: 4px; }

/** Overlay */
BlockingOverlay {
  background-color: #F8F8F9;
  border: none; }

BlockingOverlay QFrame#content {
  padding: 0px;
  border: 80px solid transparent;
  background-color: transparent; }

BlockingOverlay QLabel {
  background: transparent; }

/** EntityBrowser */
EntityBrowser QTabBar {
  border: 1px solid rgba(19, 25, 32, 0.1);
  background: #FFFFFF; }

EntityBrowser QTabBar::tab {
  border: 1px solid rgba(19, 25, 32, 0.1);
  background: #FFFFFF;
  min-width: 0px;
  padding: 2px 8px;
  color: rgba(19, 25, 32, 0.87);
  border-radius: 3px;
  margin: 3px;
  margin-right: 0px; }

EntityBrowser QTabBar::tab:selected {
  background-color: rgba(180, 180, 180, 0.8); }

EntityBrowser QTabBar::tab:hover {
  background-color: rgba(180, 180, 180, 0.8); }

/** EntitySelector */
/** Tooltips */
QToolTip {
  border: 1px solid rgba(19, 25, 32, 0.1);
  border-radius: 2px;
  background-color: #FFFFFF;
  color: #FFCD45;
  padding: 3px; }

QRadioButton {
  color: rgba(19, 25, 32, 0.87); }

QRadioButton::indicator {
  width: 13px;
  height: 13px; }

/** action */
.ActionItem[state=inactive] {
  color: #131920; }

.ActionItem[state=active] {
  border: 1px solid rgba(19, 25, 32, 0.1);
  border-radius: 2px;
  color: #131920;
  background-color: rgba(180, 180, 180, 0.8); }

QMainWindow {
  background-color: #F8F8F9; }

/** Table */
QListView {
  border: 1px solid rgba(19, 25, 32, 0.1);
  outline: 0;
  background: #F8F8F9; }

QListView::item {
  border: 0px;
  padding: 5px;
  background: #F8F8F9;
  color: rgba(19, 25, 32, 0.87); }

QListView::item:hover {
  background-color: rgba(180, 180, 180, 0.8);
  color: rgba(19, 25, 32, 0.87); }

QListView::item:selected {
  background-color: rgba(180, 180, 180, 0.8);
  color: rgba(19, 25, 32, 0.87); }

QListView::item:disabled {
  color: #b3b5b8; }

QListView::indicator {
  image: url(":/ftrack/image/light/checkbox_unchecked"); }

QListView::indicator:checked {
  image: url(":/ftrack/image/light/checkbox_checked"); }

QListView::indicator:unchecked {
  image: url(":/ftrack/image/light/checkbox_unchecked"); }

QListView::indicator:hover:not(:checked) {
  image: url(":/ftrack/image/light/checkbox_unchecked"); }

QListView::indicator:disabled {
  image: url(":/ftrack/image/light/checkbox_unchecked_disabled"); }

/** Application window */
QMainWindow#ftrack-connect-window {
  background: #F8F8F9; }

QLabel#login-label {
  font-size: 22px; }

QLabel#regular-label {
  font-size: 15px;
  font-weight: normal; }

* {
  font-family: "Roboto", sans-serif; }

QLabel#lead-label {
  font-size: 13px;
  color: rgba(19, 25, 32, 0.6);
  font-weight: normal; }

QPixmap {
  image: url(":/ftrack/image/light/ftrackLogoLabelDark"); }

/** Publisher */
QPushButton#ftrack-connect-publisher-browse-button {
  margin: 10px; }

/* Test harness */
QFrame#HarnessGuiController {
  border: 2px inset rgba(19, 25, 32, 0.1);
  background-color: #F8F8F9; }
