ftrack_qt == "2.0.0rc1"
ftrack-constants == "2.0.0rc1"
ftrack_framework_plugin == "2.0.0rc1"
ftrack_framework_photoshop == "2.0.0rc1"
ftrack_framework_engine == "2.0.0rc1"
ftrack_framework_qt == "2.0.0rc1"
Qt.py == ">=1.0.0, < 2"