# Create public release on tag push, preserves previous releases.
# Re-tags "<package>/stable" to point on tag

name: CI-TAG

# Prevent concurrent runs of this workflow due to the pants cache being shared between them.
concurrency: pants_ci

on:
  push:
    tags-ignore:
      - '**0.0.0**'
      - '**latest**'
      - '**stable**'
    branches: ["dummy"] # Disable CI - do not trigger

jobs:

  # Run Pants to build the released package
  pants-build:
    uses: ./.github/workflows/pants-build.yml
    with:
      full_release: true
      check_changed: false

  # Release the package
  release:
    needs: pants-build
    uses: ./.github/workflows/release.yml
    with:
      changed: ${{needs.pants-build.outputs.changed}}
      pre: false
      version: ${{ needs.pants-build.outputs.version }}
      deploy_aws: true
    secrets:
      aws_key_id: ${{ secrets.S3_ACCESS_KEY }}
      aws_secret_access_key: ${{ secrets.S3_SECRET_ACCESS_KEY }}

  # Also align latest rc pre-release build to tag, as the previous push to main
  # probably was just a release note update which is not picked up by Pants/merge CI.

  pants-build-pre-release:
    needs: release
    uses: ./.github/workflows/pants-build.yml
    with:
      full_release: false
      check_changed: false
      version: "v0.0.0rc"
      package: ${{ needs.pants-build.outputs.changed }}

  pre-release:
    needs: pants-build-pre-release
    uses: ./.github/workflows/release.yml
    with:
      changed: ${{ needs.pants-build.outputs.changed }}
      pre: true
      version: ${{ needs.pants-build.outputs.version }}
      deploy_aws: true
    secrets:
      aws_key_id: ${{ secrets.S3_ACCESS_KEY }}
      aws_secret_access_key: ${{ secrets.S3_SECRET_ACCESS_KEY }}

  deploy-docs:
      needs: pants-build
      uses: ./.github/workflows/deploy-docs.yml
      with:
        changed: ${{needs.pants-build.outputs.changed}}
        build_index: false
        is_rc: false